$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;

$background-main: #fff;
$background-box: #d9e4ea;
$primary-color: #3a3a3a;
$secondary-color: #fff;
$heading-color: #9620ec;
$accent-color: #fe0000;
$hover-color: #f396e6;

$em-size: 1em;

$header-font: 'Fontdiner Swanky', cursive;
$body-font: 'Capriola', sans-serif;

@mixin bp-tablet {
	@media only screen and (min-width: $tablet-breakpoint) {
		@content;
	}
}

@mixin bp-desktop {
	@media only screen and (min-width: $desktop-breakpoint) {
		@content;
	}
}


@mixin gradient {
	background: linear-gradient(0deg, #e69ddd, #91ddee, #eed891);
	background-size: 600% 600%;
	animation: ani-bg 6s ease infinite;

	@keyframes ani-bg { 
    0%{background-position:50% 0%}
    50%{background-position:51% 100%}
    100%{background-position:50% 0%}
	}
}

%text-gradient {
			background: -webkit-linear-gradient(#1fbbde, #103752);
  			-webkit-background-clip: text;
  			-webkit-text-fill-color: transparent;
		}