/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Content

==============================================
*/

/* 0. Reset, variables, mixins,etc ================================= */
@import 'reset';

@import 'variables';

@import url('https://fonts.googleapis.com/css?family=Handlee|Raleway:500');

/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

body {
	font-family: 'Raleway', sans-serif;
	background: $background-main;
	color: $primary-color;
	line-height: 1.6;

	@include bp-tablet {
		.main-header, .row, nav{
			display: flex;
		}

		.main-header {
			flex-direction: column;
			align-items: center;
		}

		.col {
			display: flex;
			flex-direction: column;
			flex: 1;
		}

		.col .button {
			align-self: flex-start;
			margin-top: auto;
		}

		.row{
			width: 90%;
			margin: 0 auto;
		}
	}

	@include bp-desktop {
		.main-header {
			flex-direction: row;
			justify-content: space-around;
		}

	}

}

p {
	font-size: $em-size - 0.1;
	margin: 0 0 1em 0;
}

h1 {
	font-size: $em-size + 0.8;
	a {
		text-align: center;
		display: block;
		padding: 10px 15px;
		color: $heading-color;
	}

}

h3 {
	font-size: $em-size + 0.5em;
	color: $heading-color;
	padding-bottom: $em-size;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

nav {
	a {
		text-align: center;
		display: block;
		padding: 10px 15px;
		text-transform: uppercase;
		color: $accent-color;
		font-size: $em-size - 0.05em;

		&:hover {
		color: $hover-color;
		transition: 0.8s;
		}
	}
	
}

footer {
	@include gradient;
	text-align: center;
	padding: 2em 0;
	margin-top: 30px;
}



/* 2. Content ================================= */



.main-header{
	padding: 0.5em 0;
}

.hero{

	@include gradient;
	text-align: center;
	color: $secondary-color;
	padding: 3.2em 0;
	margin-bottom: 48px;

	.peppermint-img {
		max-width: 100%; /*so img wont get pixelated if resized larger*/
		margin-bottom: 25px;
		width: 190px;

		&:hover {
			transform: rotate(1800deg);
			transition: 6s;
		}
	}

	.headline {
		font-size: $em-size + 2;
	}

	span {
		font-size: $em-size + 0.2;
	}
}

.row {

	.col {
		padding: 1em;
		margin: 0 0.5em 0.8em;
		border-radius: 2em;
		border: 6px double rgba(251, 188, 11, 0.3);

		.button {
			background: $accent-color;
			padding: 0.625em 1.25em;
			color: $secondary-color;
			border-radius: 0.35em;

			&:hover {
				background: $hover-color;
				transition: 0.6s;
			}
		}
	}

	.popular {

		h3 {
			@extend %p;
		}

		%p {
			background: -webkit-linear-gradient(#1fbbde, #103752);
  			-webkit-background-clip: text;
  			-webkit-text-fill-color: transparent;
		}
  		
	}

}


.candy-rain {
	.drop {
		position: absolute;
	   	top: -100%;
		animation: ani-drop 20s infinite;
		background: url(../img/candy-sprite.png);
		width: 130px;
		height: 130px;
	}

	.cupcake {
		background-position: -38px -28px;
		left: 1%;
		animation-delay: 0.9s;
		transform: rotate(45deg);
	}

	.cookies {
		background-position: -38px -225px;
		left: 10%;
		transform: rotate(70deg);
	}

	.pie {
		background-position: -38px -406px;
		left: 20%;
		animation-delay: 0.05s;
		transform: rotate(10deg);
	}

	.lolipop {
		background-position: -235px -30px;
		left: 30%;
		animation-delay: 0.2s;
		transform: rotate(50deg);
	}

	.croissant {
		background-position: -235px -225px;
		left: 40%;
		transform: rotate(90deg);
	}

	.icecream {
		background-position: -235px -405px;
		left: 50%;
		animation-delay: 0.5s;
		transform: rotate(25deg);
	}

	.candy {
		background-position: -435px -30px;
		left: 60%;
		transform: rotate(180deg);
	}

	.choco {
		background-position: -435px -217px;
		left: 70%;
		animation-delay: 0.8s;
		transform: rotate(12deg);
	}

	.cake {
		background-position: -435px -405px;
		left: 85%;
		animation-delay: 0.1s;
		transform: rotate(30deg);
	}

	@keyframes ani-drop {
		0% { top: -100%; }
		80% { opacity: 0; }
		100% { top: 150%; transform: rotate(360deg); opacity: 0; }
	}

}


